<td class="span6" id="thing<%= id %>"><pre data-id="<%= id %>"><%= content %></pre></td>
<td>
	<a href="#/<%= id %>/edit"><i class="icon-edit"></i></a>
	<a href="#/<%= id %>/destroy" class="destroy"><i class="icon-trash"></i></a>
</td>